<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Моя страница {% endblock %}</title>
</head>
<body>
    <div>
        <a href = '{% url "login_page" log_id %}'>Моя страница</a>
        <a href = '{% url "news_list" log_id %}'>Новости</a>
        <a href = '{% url "main" %}'>Выйти</a><hr>
    </div>
    <div>
        {% block content %}
            {{ data.last_name }} {{ data.first_name }}<br>
        {% endblock %}
    </div>
</body>
</html>




