<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Моя страница {% endblock %}</title>
</head>
<body>
    <div>
        <a href = '{% url "login_page" log_id %}'>Моя страница</a>
        <a href = '{% url "news_list" log_id %}'>Новости</a>
        {% if request.user.is_authenticated %}
            <a href = '{% url "main" %}'>Выйти</a>
            <div style = 'text-align: right;'>{{ user.username }}</div><hr>
        {% endif %}
    </div>
    <div>
        {% block content %}
            {{ data.user.last_name }} {{ data.user.first_name }}<br>
            {{ data.user.username }}<br>
            {{ data.user.email }}<br>
            {{ data.city }}<br>
            {{ data.date_of_birth }}<br><hr>
    </div>
    <div>
        <p style = "text-decoration: underline;">Опубликованные новости:</p>
        {% for n in user_news %}
            {{ n.topic_news }}<br>
            <img src = "{{ n.topic_images.url }}"><br>
            <p><a href = "{% url 'news_detail' log_id n.id %}">Посмотреть новость</a></p><br>
            <p>Опубликовано: {{ n.posted_by.username }} || {{ n.posted_time }}</p><hr>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>




