<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Страница авторизации{% endblock %}</title>
</head>
<body>
    <div>
        {% block content %}
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type = "submit" value = 'Войти'></input> <a href = '{% url "registr_page" %}'>Зарегистрироваться</a></p>
            
        </form>
        {{ message }}
        {% endblock %}
    </div>
</body>
</html>
